config GUFI
	def_bool y

menu "Grand Unified Firmware Interface support"
	depends on GUFI

choice
	prompt "Fetching configuration info"
	default GUFI_ACPI

config GUFI_ACPI
	bool "ONLY search ACPI tables"
	depends on ACPI
	help
	  This option forces GUFI to search for device configuration
	  information in the ACPI tables and methods only, ignoring
	  any Device Tree content.

config GUFI_DT
	bool "ONLY search Device Tree"
	depends on OF
	help
	  This option forces GUFI to search for device configuration
	  information in the Device Tree only, ignoring any ACPI content.

endchoice

endmenu # GUFI
